[submodule "esp-homekit-sdk"]
	path = esp-homekit-sdk
	url = git@github.com:espressif/esp-homekit-sdk.git
[submodule "esp-idf-components"]
	path = esp-idf-components
	url = git@github.com:vihanb/esp-idf-components.git
